
.vs/TheSecondWorld/v15/Server/sqlite3/storage.ide-wal
.vs/TheSecondWorld/v15/Server/sqlite3/storage.ide-shm
.vs/TheSecondWorld/v15/Server/sqlite3/storage.ide
.vs/TheSecondWorld/v15/Server/sqlite3/db.lock
Temp/UnityLockfile
Temp/UnityTempFile-783f23d01425f4d4d8d65d544b3e972f
Temp/UnityTempFile-7e03689d5f50f8e4fb5d0b2b8862276a
Temp/UnityTempFile-e1ede6c9cb41ce642802a9842fbf4c3c
Temp/UnityTempFile-f0651b85884e37746969a7926faf7538
